/* Global Color Properites */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
	--purple: #7477BF;
	--dark-purple: #4D4C72;
	--white: #fff;
	--light-grey: #F7F7F7;
	--dark-grey: #DADADA;
	--darker-grey: #707070;
	--green-btn: #81C98F;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
    
.grid-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
		"header"
		"navigation"
		"main";
} 

.header {
	grid-area: header;
}

.navigation {
	grid-area: navigation;
	width: 100%;
}

.main {
	grid-area: main;
}


.round-img {
	border-radius: 50%;
}

.flex {
	display: flex;
	flex-direction: row;
}

.space-between {
	display: flex;
	justify-content: space-between;
      }

.filter-white {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(12deg) brightness(106%) contrast(101%);
}

/* Hover & Link Styles*/
button:hover {
	background-color: var(--dark-purple);
	cursor: pointer;
}

a:hover {
	color: purple;
}

/* Grid Container and Body Styles */



body {
	width: 100%;
	margin: 0;
}

/* HEADER STYLES */
.header{
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	background-color: var(--purple);
	align-items: center;
	color: var(--white);
	width: auto;
	padding: 0 20px 0 20px;
}

.second-header {
	display: flex;
	flex-direction: row;
	fill: var(--white);
	width: auto;
	align-items: center;
	margin: 0; 
	display: flex;
	justify-content: flex-end;
}

h1 {
	font-weight: 400;
	font-size: 20px;
}

span.app {
	margin: 0;
	font-weight: 100;
	white-space: nowrap;
}

.bell-icon {
	display: flex;
	height: auto;
	padding-right: 1rem;
	padding-top: .5rem;
	border-right: 2px solid rgba(218, 218, 218, .3); 
}

.bell-svg {
	width: 35px;
} 

.bell-svg:hover {
	fill:rgb(50, 203, 50);
	transition-duration: .5s;
	transition-timing-function: ease-in;
}

.notification-dot {
	background-color: rgb(50, 203, 50);
	width: 8px;
	height: 8px;
	border-radius: 50%;
}




.profile-icon {
	width: 15%;
}

.profile-icon, .student-name {
	height: auto;
	padding:.5rem;
}

h2.student-name {
	width: 40%;
	font-size: 15px;
	font-weight:300;
    	overflow: hidden;
    	white-space: nowrap;

}

h3 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 30px 0;
}


/* NAVIGATION STYLES */  
nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: var(--dark-purple);
}

 
nav.navigation {
	width: auto; 
	height: auto;
	display: flex;
	justify-content: space-evenly;
	padding: 15px 0;	
}

img.svg {
	width: 3.125rem;
	padding-left: 20px;
}


.main-container {
	width: 100%;
}

.main-margin {
	margin: 0 32px; 
}


/* Dashboard Styles */
.main-header {
	display: inline-flex;
	width: 100%;
}


h2.headline {
	display: inline-flex;
	padding-right: 1rem;
	margin-left: 2rem;
	font-weight: 400;
}

.tab {
	background-color: var(--light-grey);
	border-left: 1px solid var(--dark-grey);
	border-bottom: 1px solid var(--dark-grey);
	width: 100%;
}


/* Traffic & Mobile User Section Styles */
.traffic-nav li {
	display: inline-flex;
	padding: .5rem;
	margin: .4rem;
}

.traffic-nav li:hover {
	background-color: var(--green-btn);
	border-radius: 20px;
	color: var(--white);
}

.active {
	background-color: var(--green-btn);
	border-radius: 20px;
	color: var(--white);
}

#traffic-chart.chart, #daily-chart.chart, #Mobile-chart.chart {
	margin: 30px; 
}

img {
	width: 100%;
}

.chart {
	width: 100%;
	margin: 0;
}

canvas#mobile-chart.chart {
	margin-bottom: 30px;
}

/* SOCIAL STATS */

.social-stats-container {
	padding-bottom: 20px;
	justify-content: center;
}

.social-container {
	width: 90%;
	height: 120px;
	display: inline-flex;
	background-color: var(--light-grey);
	margin-top: .5rem;
	margin-bottom: .5rem;
	padding: 1rem;
	align-items: center;
	border: 2px solid var(--dark-grey);
	border-radius: 10px;
	
}

.social-text {
	padding-left: 20px;
	padding-bottom: 15px;
}

p.social-media {
	color: var(--purple);
	margin-top: 50px;
	margin-bottom: 0px;
}

p.stat {
	font-size: 25px;
	margin-top: 0px;
	color: var(--darker-grey);
	font-weight: 300;

}

.social-image {
	width: 40px;
	background-color: var(--purple);
	padding: 1rem;
	border-radius: 50%;
	fill: var(--white);
}

/* NEW MEMBERS & ACTIVITY SECTION */

.members-container, .activity-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	padding-top: 20px;
	border-bottom: 2px solid var(--dark-grey);

}

.members-container p, .members-text p, .activity-container p {
	margin: auto;
	text-align: center;
	width: 90%; 
	font-weight: 300;
}

.members-container {
	/* margin-right: 10px; */
}

a {
	color: var(--purple);
	text-decoration: none;
}

strong {
	font-weight: 400;
}

.activity-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


img.profile-image.round-img {
	width: 20%;
}

.arrow {
	visibility: hidden;
}

/* MESSAGE SECTION */

form.widget-container {
	width: 100%;
	margin: auto;
}

input, textarea {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	border: 2px solid var(--dark-grey);
	border-radius: 10px;
	background-color: var(--light-grey);
	font-size: 18px;
}

::placeholder {
	color: lightgrey;
	font-weight: 100;
}

button, .form-field {
	height: 3.75rem;
	border: 2px solid var(--dark-grey);
	border-radius: 10px;
	width: 100%;
	margin-bottom: 20px;
}

.button-primary, .button-disabled {
	font-size: 20px;
	text-transform: uppercase;
	color: var(--white);
	
}

.button-disabled {
	background-color: var(--darker-grey);
}

.button-primary {
	background-color: var(--purple);
}

#send {
	font-weight: lighter;
}

.message, .social-stats-container, .mobile-users, .daily, .traffic  {
	border-bottom: 2px solid var(--dark-grey);
}

/* SETTINGS SECTION */

.switch-material {
	margin-bottom: 50px;
}

span.on-off-btn {
	float: right;
	margin-left: 10px;
}

select {
	background-color: var(--light-grey);
	padding: 20px; 
	color: grey;
}

.form-field, .settings-button {
	width: 100%
}

.button-disabled {
	margin-left: 20px;
}



.width-container-full, .width-container-half {
	width: 95%; 
}

/* Alert Banner Styles */

.alert-banner {
	/* width: 300px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--purple);
	margin: 20px;
	padding: 0 1.5rem;
	border-radius: 10px;
	color: var(--white);
	font-weight: 300;
}


@media (min-width: 768px) {

	.grid-container {
		display: grid;
		grid-template-columns: 120px 1fr;
		grid-template-areas: 
			"header header"
			"navigation main";
	}

	.main {
		/* grid-template-columns: 1fr; */
		/* max-width: 800px; */
		min-width: 0px;
	}

	.two-columns-tablet {
		
	}

	.traffic, .social-stats-container {
		grid-column: 1 / span 2;
	}

	.daily, .members, .messages {
		grid-column: 1 / span 1;
	}

	.mobile, .activity, .settings {
		grid-column: 2 / span 1;
	}

	.widget-container-full {
		width: 90%; /* 90vw */
	}
		.widget-container-half {
		width: 45vw; /* 45vw */
	}

	.svg {
		width: 100%; 
	}

	nav.navigation {
		flex-direction: column;	
		align-items: center;
		justify-content: normal;
		width: 122px;
	}
	
	img.svg {
		margin: 30%; 
		padding: 0;
	}

	

	a {
		width: 100%;
	}

	.traffic-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.large-view-flex {
		display: flex;
	}
	

	.social-container {
		margin-right: 10px;
	}

	.members-container, .activity-container {
		flex-direction: row;
	}

	.text-left {
		display: flex;
		text-align: left;
		align-items: left;
	}

	.members-container p  {
		margin: 0px;
		width: 100%;
	}

	p.name {
		text-align: left;
		width: auto;
	}

	p.date {
		text-align: right;
	}

	.members-text {
		margin: 14px;
	}


	.activity-container p {
		text-align: left;
		width: auto;
		padding-left: 10px;
		justify-content: left;
	}

	.activity-container {
		display: flex;
		justify-content: flex-start;
	}

	.social-container {
		width: 27%;
	}

	/* canvas#daily-chart.chart, canvas#mobile-chart.chart  {
		width: 50% !important;
		height: 50% !important;
	} */

	.widget-container-half, .widget-container-full {
		width: 100%;
	}

	/* .traffic {
		width: 90%;
	} */
	.two-columns-tablet {
		width: 100%;
	}

	section#daily.daily {
		width: 50%;
	}
	section.mobile-users {
		width: 50%;
	}

	#profile-img {
		width: 100px;
	}

	.arrow {
		visibility: visible;
		width: auto;
		margin-left: auto; 
		margin-right: 30px; 
		font-size: 25px;
		transform: scale(1, 1);
		color: var(--purple);
	}


	.two-columns-tablet {
		display: flex;	
	}

	canvas#mobile-chart.chart{
		margin: 30px;
	}

	.mobile-users {
		border-left: 2px solid var(--dark-grey);
		padding-left: 20px; 
	}

	.setting-notifications{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	span.on-off-btn {
		margin-left: 60px; 
	}

	.profile-btn{
		margin-right: 37px;
	}

}

@media (min-width: 1024px) {
	.grid-container{
		max-width: 100%;
	}
	.main {
		/* grid-template-columns: 1fr; */
		/* min-width: 0px; */
	}
	.two-columns-desktop {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.social-container {
		width: 100%;
	}
	
	#members, .message {
		padding-right: 5%; 
		
		
	}

.members-text, .activity-text {
	font-size: .8rem;
}


	p.date {
		/* padding-right: 20px; */
	}

	.widget-container-half-desktop {
		width: 45%;
	}

	
	.recent-activity, .settings {
		border-left: 2px solid var(--dark-grey);
		padding-left: 20px;
	}
	.username, .form-area, #send {
		width: 90%;
	}
	.username {
		height: 30px;
	}

	.form-area {
		height: 144px;
	}



}
